*[ng-cloak] {
    visibility: hidden;
}

html {
    position: relative; // required for sticky footer
    z-index: $footer-z;
}

body {
    background-color: $bg-color;
}

a:visited {
    color: $link-visited-color;
    &.label {
        color: $label-visited-color;
    }
}

a .glyphicon {
    color: $icon-color;
    &:hover {
        color: $icon-hover-color;
    }
}

.no-pointer-events {
    pointer-events: none;
}

.bg-unpublished {
    background-image: url("/static/images/unpublished.svg");
}

.global-notification {
    p {
        display: inline-block;
    }
}

.siteheader {
    height: 43px;
    border-bottom: $header-footer-border;
    display: flex;
    align-items: center;
    .logolink, tim-logo, & > img {
        height: 100%;
    }

    tim-login-menu {
        flex: 1;
        text-align: center;
    }
}

.nudge-left-25 {
    margin-left: -25px;
}

.vcenter {
    line-height: 2;
}

.valign {
    vertical-align: middle;
}


// Bootstrap doesn't have built-in support for input-xs and input-group-xs classes,
// so we borrow them from https://stackoverflow.com/a/22920590
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

@mixin h1-base() {
    text-align: center;
    margin-top: 3cm;
    margin-bottom: 1cm;
    color: navy;
    border-top: navy 2pt solid;
    border-bottom: navy 2pt solid;
    padding-top: 10pt;
    padding-bottom: 10pt;
    line-height: 1.3;
}

// all document-related styles under .paragraphs selector!
.paragraphs {
    @include center-block();
    @media (min-width: $screen-md-min) {
        min-width: $paragraph-preferred-width;
    }
    max-width: $paragraph-preferred-width;
    @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
        margin-left: 2em;
    }
    .smalltext .parContent {
        font-size: small;
    }
    .linkit .parContent {
        font-size: small;
    }
    .authorinfo {
        top: -1.1em;
        position: relative;
        font-size: x-small;
        height: 0.5em;

        .timestamp {
            color: lightgrey;
        }
    }
    .parContent {
        text-align: $body-text-align;
        @media (max-width: $screen-xs-max) {
            text-align: $body-text-align-xs;
        }
        font-size: 16px;

        * code {
            font-size: $inline-code-size;
        }

        & > h1, & > div > h1 {
            @include h1-base();
        }

        figcaption {
            text-align: center;
            margin: 0.5em;
        }

        @mixin heading-base($outdent) {
            text-align: left;
            margin-left: $outdent;
            @media (max-width: 870px) {
                margin-left: $outdent * 0.6;
            }
            @media (max-width: $screen-xs-max) {
                margin-left: 0;
            }
        }

        & > h2 {
            @include heading-base($heading-outdent);
            margin-top: 1.5cm;
            line-height: 1.2;
        }

        & > h3 {
            @include heading-base($heading-outdent*0.8);
            margin-top: 1cm;
            margin-bottom: 0.5cm;
        }

        & > h4 {
            @include heading-base($heading-outdent*0.6);
            margin-top: 2em;
            margin-bottom: 0.5cm;
        }
        .mcq, .mmcq {
            .header {
                text-align: center;
            }

            .stem {
                text-align: left;
            }

            td {
                text-align: left;
                vertical-align: middle;

                &.text-center {
                    @extend .text-center;
                }
            }

            button {
                @extend .timButton;
            }
        }
    }

    .inlineplugin {
        display: inline-block;
    }

    .troutofdate::before {
        content: "Translation is out of date";
        color: red;
        position: absolute;
        top: -0.8em;
        right: 0;
    }

    .mdcontent {
        color: #DCDCDC;
        display: none;
    }

    table {
        @extend .table, .table-condensed, .table-bordered;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        th {
            background-color: #dedede;
            border: 1px solid #ccc;
        }
        text-align: left;
    }

     .header th {
            border: 1px solid #bbb;
     }

     /* ready styles begin */
    .tim         { color: $basic-color}
    .red         { color: red; }
    .blue        { color: blue; }
    .green       { color: green; }
    .lime        { color: lime; }
    .yellow      { color: yellow; }
    .white       { color: white; }
    .gray        { color: gray; }
    .lightgray   { color: lightgrey; }
    .bggray      { background: #e6e6e6; }
    .bgred       { background: red; }
    .bgblue      { background: blue; }
    .bggreen     { background: green; }
    .bglime      { background: lime; }
    .bgyellow    { background: yellow; }
    .bglightgray { background: lightgrey; }
    .bgtim       { background: $basic-color}
    .bgwhite     { background: white; }
    .border      { border: 1.00pt solid #000000; }
    .radius      { border-radius: 0.3em; }
    .bgreadline  { background: #ff6600c0; }
    .bgreadmodified  { background: #ffff00c0; }
    .obs         { border: 1.00pt solid #000000; padding: 0.1em; background: #e6e6e6;}
    /* .note .answer TODO: do we dare to use pure .answer?  Otherwise it is not visible in preview */
    .answer      { color: blue; }
    .smaller     { font-size: smaller; }
    .small       { font-size: small; }
    .x-small     { font-size: x-small; }
    .xx-small    { font-size: xx-small; }
    .larger      { font-size: larger; }
    .large       { font-size: large; }
    .x-large     { font-size: x-large; }
    .xx-large    { font-size: xx-large; }
    img.smallimage {
        display: inline;
    }
    span.button {
     /* ready styles end */
        border: black;
        border-style: solid;
        background: lightgray;
        border-color: black;
        border-width: 1pt;
        border-radius: 4pt;
        padding-left: 3pt;
        padding-right: 3pt;
    }

    span.plus::before {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: "\002b";
        color: $basic-color
    }


     /* ready styles end */

    .removePre pre { /* for chat */
        visibility: collapse;
        height: 0pt;
    }

    .smalltitle { /* for chat */
        font-size: x-small;
        color: gray;
    }


    .huomautus {
        @extend .center-block;
        width: 90%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        background: #e6e6e6;
        border: 1.00pt solid #000000;
        padding: 0.25cm;
        font-family: Verdana, Arial, sans-serif;
        text-align: left;

        p {
            margin-top: 0.1em;
            margin-left: 0.3em;
            margin-bottom: 0.1em;
        }
    }

    p.plgfooter {
        text-align: center;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .mathp {
        &.inline img {
            display: inline;
            max-width: inherit;
        }
        &.display {
            margin-top: 0.7em;
            margin-bottom: 0.6em;
            display: block;
            img {
                max-width: inherit;
            }
        }
    }

    blockquote {
        @extend .center-block;
        width: 90%;
        font-size: inherit;
        border: none;
    }

    pre {
        background: $pre-background;
        border: none;
        border-left: $pre-left-border;
        border-radius: 0;
        overflow: $pre-overflow;

        // On Android Chrome, if there are wide pre blocks in the document, dialogs are not opened correctly because
        // the page width is the maximum of the widths of the pre blocks. This forces horizontal scrolling for all pre
        // blocks, fixing the issue.
        @media screen and (max-width: $screen-xs-max) {
            // overflow-x: scroll;
        }

        code {
            white-space: pre;
            font-size: $block-code-size;
        }
    }

    @import "csRun";
}

.correct {
    background-color: limegreen;
    padding: 0.5em;
}

.wrong {
    background-color: red;
    padding: 0.5em;
}

.height-35 {
    height: 35em;
}

.redbutton {
    background-color: #990000
}

p.caption { 
    text-align: center;
}

.material {
    background-color: $material-bg;
    box-shadow: $material-shadow;
    border: $material-border;
    border-radius: $material-border-radius;
}

.pluginError, .error {
    border: 1px solid red;
    background-color: pink;
    text-align: left;
}

.note {
    font-size: 0.7em;
    background: $material-bg;
    p {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 5px;
        /* display: inline; */
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timestamp {
        color: lightgrey;
    }

    border-top: 4px solid;
    padding-bottom: 5px;
    overflow-y: auto;
    border-color: $note-public-color;

    &.private {
        border-color: $note-private-color;
    }
}

.notes, .speaker {
    position: absolute;
    width: $note-width;
    top: 0;
    right: calc(-#{$note-width} + #{$readline-offset} - 5px);
}

.notes {
    ul {
        padding-left: 1.5em;
    }
}

.text-smaller {
    font-size: smaller;
}

.headerlink {
    float: right;
    visibility: hidden;
    font-size: small;
}

*:hover > .headerlink {
    visibility: inherit;
}

.parContent {
    position: relative;
}

.previewDiv {
    min-width: 20em;
    max-width: 52em;
    clear: both;
    border-radius: 5px;
    background: inherit;

    .editline, .readline, .arealine, .areaeditline1, .areaeditline2, .areaeditline3 {
        display: none;
    }

    .par {
        margin-left: 0;
        margin-right: 0;
    }
}

.pastePreview {
    @extend .previewDiv;

    min-width: 0;
    max-height: 10em;
    overflow-x: hidden;
    overflow-y: auto;
}

#slideFrame {
    width: 100%;
    height: 30em;
    margin-top: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}

.border {
    border: 1px solid $basic-border-color;
    border-radius: 0;
}

.previewcontent {
    @extend .border;
    clear: both;
    overflow-y: auto;
    background-color: #f8f8f8;
    min-height: 1px;
    padding-left: 2em;
    padding-right: 2em;
    min-width: inherit;
    margin-left: auto;
}

.timButton, .editorButton {
    @extend .btn, .btn-primary;

    &.btn-toggled {
        background-color: $button-toggle-color;
    }
}

a.timButton {
    color: $bg-color; /* TODO: Here button basic color, but where to find it??? */
}

.editMenuButton {
    width: 100%;
}

.uiContainer table, .uiContainer td, .uiContainer tr, .uiContainer th {
    border: none !important;
    padding: 0;
    font-size: small;
    color: $basic-color;
    margin-left: 1em;
}

.readline {
    position: absolute;
    right: $readline-offset;
    z-index: 3;
    width: $readline-width;
    height: 100%;
    top: 0;
    border-right: 0.5em solid;
    border-color: $readline-color;
}

.areareadline {
    @extend .readline
}

.readsection {
    position: absolute;
    right: $readline-offset - 1em;
    color: $readline-color;
    cursor: pointer;
}

.timFixed {
    position: fixed;
    right: 0;
    top: 50px;
}

.editline {
    position: absolute;
    left: -$editline-width - $editline-extra;
    z-index: 3;
    width: $editline-width;
    height: 100%;
    top: 0;

    @media (max-width: 870px) { /* for ipdas because of outend headings */
        left: -($editline-width / 2);
        width: $editline-width / 2;
    }

    @media (max-width: $screen-xs-max) {
        left: 0;
        width: $editline-width / 2;
    }

    &:hover, &.menuopen {
        opacity: 0.5;
        background: $editline-bg-color;
    }
}

.areaeditline {
    opacity: 0;
    position: absolute;
    left: -$areaeditline-width;
    width: $areaeditline-width;
    height: 100%;
    top: 0;

    &.show {
        opacity: 0.2;
    }

    &:hover, &.manualhover, &.menuopen, &.show.menuopen {
        opacity: 0.5;
    }
}

.areaeditline1 {
    @extend .areaeditline;
    background: #d874ff; /* rgb(236,103,27); */

    @media (max-width: $screen-xs-max) {
        left: 0;
    }
}

.areaeditline2 {
    @extend .areaeditline;
    background: #b2aaff; /* rgb(236,103,27); */
    left: -2 * $areaeditline-width;
    width: $areaeditline-width;

    @media (max-width: $screen-xs-max) {
        left: $areaeditline-width;
    }
}

.areaeditline3 {
    @extend .areaeditline;
    left: -3 * $areaeditline-width;
    width: $areaeditline-width;
    background: #ff9851; /* rgb(236,103,27); */

    @media (max-width: $screen-xs-max) {
        left: 2 * $areaeditline-width;
    }
}

.area {
    // required for correct positioning of area edit line
    position: relative;
}

.areacollapse, .areaexpand {
    cursor: pointer;
    padding-left: 1.5em;
}

.areaexpand, .areacollapse {
    & > .glyphicon {
        position: absolute;
        font-size: large;
        left:  0em;     /* -$editline-width - 0.5em; */
        color: $areacollapse-color;
        z-index: 5; /* to be top of editline */
    }
}

.areapartline::before {
    color: #D8D8D8;
    content: "|";
}

.arealine {
    position: absolute;
    left: -4.5em;
    z-index: 2;
    width: 1.5em;
    height: 100%;
    top: 0;
    cursor: pointer;
}

.areapartline {
    position: absolute;
    left: -2.25em;
    z-index: 2;
    width: 0.2em;
    height: 100%;
    top: 0;
}

.par {
    position: relative;

    & > .headerlink {
        font-size: large;
        position: relative;
        right: -0.8em;
        top: 0.5em;
    }

    &.lightselect {
        background-color: $lightselect-color;
    }

    &.selected {
        background-color: $parselect-color;
    }

    &.marked {
        background-color: rgba(134, 217, 209, 0.35);
    }

    &.editmode.deleted {
        background-color: #ffc7c7;
    }

    &.editmode.deleted.lightselect {
        background-color: #ffb5b3;
    }

    &.editmode.deleted.selected {
        background-color: #ffa594;
    }

    &.deleted {
        background-color: #fff7f7;
    }

    &.deleted.lightselect {
    }

    &.deleted.selected {
    }

    &.deleted.marked {
        background-color: #92D1CE;
    }

    .readline {
        border-color: rgb(255,102,0); /* rgb(236,103,27); */

        &:hover {
            background: rgba(255,102,0,0.5);
            border-color: transparent;
        }

        &.read {
            display: none;
        }

        &.read-modified {
            border-color: yellow;

            & > button {
                display: none;
            }

            &:hover {
                background: rgba(255,255,0,0.5);
                border-color: transparent;
                & > button {
                    display: block;
                    float: right;
                    position: relative;
                }
            }
        }
    }
    &.noscroll pre {
        overflow: visible;
    }
}

tim-par-ref {
    float: right;
    position: absolute;
    top: 0;
    right: -15px;

    .tooltip-inner {
        max-width: 50vw;
    }
}

a {
    cursor: pointer;
}

sub {
    font-size: 0.8em;
    /* gecko-pohjaisilla selaimilla sub nakyy liian ylhaalla, ellei fonttia pienenna */
}

br {
    margin: 0;
    padding: 0;
    line-height: 0.4; /* pienempi vali monisteen kansia varten */
}

.font-weight-normal {
    font-weight: normal;
}

.editor {
    padding: 5px 0;
    border-radius: 5px;
}

.editorContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pareditor {
    display: block;
    background: inherit;

    .choices {
        display: inline-block;
    }

    .helpButton {
        /* font-size: large; */
    }

    .tab-content > .active {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .form-control {
            width: auto;
            flex: 1 0 auto;
        }
    }
}

.editButtonArea {
    margin-bottom: 0.6em;
}

.editorButton {
    margin: 2px;
}

li.tab.active, li.tab.pinned {
    background: $tab-bg-color;
}

li.tab.active a, li.tab.pinned a {
    color: white;
}

input[type="file"] {
    margin: 0;
    padding: 0;
    border: none;
}

input.unsaved, input:focus.unsaved {
    border-right-color: gold;
    border-right-width: thick;
}

// https://stackoverflow.com/a/4298216
input[type="number"].no-step {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.smalllink {
    font-size: 50%;
    margin-top: -3em;
    margin-bottom: 3em;
    margin-right: 1em;
    text-align: right;
}

.notes:hover, .speaker:hover {
    background-color: white;
    display: block;
    z-index: 9;
}

/* For user list in teacher view ================================*/
.userFixed {
    position: fixed;
    bottom: 0;
    top: 20px;
    right: 0;
    @media(max-width: $screen-xs-max) {
        width: 200px;
    }
    @media(min-width: $screen-sm-min) {
        width: 200px;
    }
    @media(min-width: $screen-md-min) {
        width: 300px;
    }
    @media(min-width: $screen-lg-min) {
        width: 423px;
    }
}

.userlist {

    $list-max-height: 95vh;
    height: 100%;

    overflow: auto;
    overflow-x: hidden;
    min-height: 25em;
    /* min-height: $list-max-height; */
    /*max-height: $list-max-height; */

    /*position: relative;*/
    background-color: #e6e6e6;
    padding: 2px;
}

.close {
    float: right;
    position: relative;
}

/* TODO: check how to prevent too narrow menu better way than min-width */
.actionButtons {
    position: absolute;
    z-index: 100;

    .inner {
        @include container-fixed();
        white-space: nowrap;
        border-radius: 3px;
        background-color: #f8f8ff;
        min-height: 50px;
        min-width: 200px;
    }
}

.questionButton {
    margin: 0.2em;
}

@media print {
    body {
        margin: 0;
        max-width: 100%;
    }

    .material {
        width: 100%;
    }

    .readline {
        display: none;
    }

    .parContent {
        position: static;
        border: 0;
        max-width: 100%;
    }

    .par {
        border: 0;
        max-width: 100%;
    }

    .headerlink {
        visibility: hidden;
    }

    /* Harmaa varjo dokumentilta pois */
    .material {
        box-shadow: none !important;
        border: none !important;
    }
}

.speaker {
    position: absolute;
    left: 105%;
    width: 400px;
}

.sagecell_editor {
    line-height: 13px;
    margin-bottom: 8px;
    font-size: 10pt;
}

pre.sagecell_pyout {
    border: none;
}

pre.sagecell_stdout {
    border: none;
}

button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled, .areaEditButton[disabled]:hover {
    background: #AAA;
    color: #CCC;
}

.borderless {
    border-collapse: collapse;
}

.borderless td {
    border: none;
    outline: none;
}

.fullwidth {
    width: 100%;
}

.checkbox-td {
    text-align: center;
}

.addBottomContainer {
    margin: 0.25em 0 0.25em 1em;
    position: relative;
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding-bottom: 1em;
}

#teksti {
    font-size: 15px;
    line-height: 15px;
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    height: auto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $basic-border-color;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#teksti:focus {
    outline: none;
}

.lazyHidden {
    visibility: hidden;
}

.lazyVisible {
    margin-top: 0;
    padding-top: 0;
}

.dialog {
    position: fixed;
    z-index: 6;
    border: 1px solid;
    background: white;
    top: 0;
}

.collapsed {
    display: none;
}

.font-medium {
    font-size: medium;
}

p.docsettings {
    display: none;
}

.shortedit {
    max-width: 4.5em;
}

.taskSummary {
    margin-bottom: 2em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
}

.taskSmallSummary {
    position: fixed;
    left: 5px;
    top: 35px;
    z-index: 200;
    font-size: 9px;
}

.inputSmall {
    font-size: 8px;
    font-weight: normal;
}

.slides {
    code {
        white-space: pre;
    }
}

.figure {
    text-align: center;
}

.runo {
    text-align: center;
    font-style: italic;
    margin-bottom: 2em;
    font-size: 0.9em;

    td {
        text-align: center;
    }

    .parContent {
        text-align: center;
    }
}

.wideButton {
    @extend .btn, .btn-primary, .btn-block;
}

.table-alias td:first-child {
    text-align: right;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.table .table-borderless  {
    border: none;
}

.total-borderless  {
    border: none !important;
}

.total-borderless tbody tr td, .total-borderless tbody tr th, .total-borderless thead tr th {
    border: none !important;
}


#doctext {
    font-family: $font-family-monospace;
}

.notes .note-badge {
    position: absolute;
    top: 0;
    left: -1.2em;
    font-size: 15px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 3px;
    background-color: #dae1e1;
    border-color: #dae1e1;
    &:hover {
        background-color: $basic-color;
    }
}


.point-form {
    display: inline;
}

.less-opacity {
    opacity: 0.66;
}

.selected-tag {
    border: 2px solid black;
}

@media (max-width: $screen-xs-max) {
    .container-fluid {
        padding-left: $container-xs-padding;
        padding-right: $container-xs-padding;
    }
}

.search-panel {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    left: auto;
    max-width: 480px;
}

.search-result-dialog {
    z-index:6;
    width:auto;
}

.no-page-break-before {
    page-break-before: avoid;
}

.margin-5-right {
    margin-right: 5px;
}

.inline-flex {
    display: inline-flex;
}

.diff {
    position: relative;
    background-color: #f8f8f8;
    height: 100%;

    a {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5em 1.5em 0.5em 0.5em;
    }

    pre {
        height: 100%;
        border: 0;

        ins {
            color: black;
            background: #bbffbb;
        }

        del {
            color: black;
            background: #ffbbbb;
        }
    }
}

answerbrowser {
    display: block;
    text-align: left;

    &.has-answers {
        min-height: 23px;
    }

    font-size: 14px;

    .ab-option-row > form > label, .ab-option-row span {
        margin-right: 10px;
    }

    .ab-option-row > form > button {
        margin-right: 10px;
        margin-left: -10px
    }

    .inline {
        display: inline;
        vertical-align: middle;
    }

}

.inlineEditorDiv .timButton {
    margin: 0px;
    padding: 4px 8px 3px 8px;
}

.inlineEditorDiv {
    background: white;
    display: inline-block;
    border-radius: 5px;
   /* position: fixed; */
}

tim-user-list {
    display: block;
    height: calc(100% - #{13px * $line-height-base});
}

.tim-menu img {
    vertical-align: baseline;
    display: inline-block;
}

.hide-link-colors a {
    color: inherit;
}

.tab-content {
  border-bottom: lightgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.reveal {
  .hideinslide {
    display: none;
  }
}

.showonlyslide {
    display: none;
}

.reveal {
  .showonlyslide {
    display: unset;
  }
}

.parContent:focus {
    box-shadow: -3px 0 $focus-bar-color;
    outline: none;
}

.editline:focus {
    outline: $focus-bar-color solid 2px;
}

.view-range-container {
    text-align: center;
}

.view-range-buttons {
    margin: 0 auto;
    display: block;
}

.rights-list {

    .lastEdited {
        background-color: #e3e3e3;
        border-radius: 3px;
    }

    .name {
        white-space: nowrap;
    }

    .flex {
        & > * {
            margin-right: 5px;
        }

        & > .action-btn {
            display: flex;
        }

        & > .label {
            font-weight: normal;
        }
    }
}

[hidden] {
    display: none;
}

.toolbarButton {
    @extend .timButton;
    color: black;
    background-color: white;
}

.disableSelect {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

// Simulates a "normal space"
.space-right {
    margin-right: 0.3em;
}

.text-color-normal {
    color: $text-color;
}

td-ngx-text-diff .view-source {
    td {
        &.line-number-col, &.line-number-col-left, &.prefix-col {
            display: none;
        }
        &.content-col {
            font-family: "courier new", courier, monospace;
            line-height: unset;
        }
    }
}

.normalLabel {
    font-weight: normal;
}

tim-rights-editor {
    span.obsolete {
        text-decoration: line-through;
    }
}
