{% extends 'base.jinja2' %}
{% block head %}
    {{ super() }}
    <script>
        var curr_item = {{item|tojson}};
        var breadcrumbs = {{item.parents_to_root()|tojson}};
    </script>
{% endblock %}
