{% extends "base.jinja2" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    {% if view_settings %}
        <script class="global-vars">
            var docSettings = {};
            var exam_mode = {{ view_settings.exam_mode|tojson }};
            var hide_sidemenu = {{ view_settings.hide_sidemenu|tojson }};
        </script>
   {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">
                {{ text|default(request.args.logintext)|default('Login is required for this document. Please use the above button to log in.') }}
            </p>
        </div>
    </div>
{% endblock %}
